<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--
        * SimpleKeys
        * sobre.html
        * 05/08/2022
        -->
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
        <title>SimpleKeys - Sobre</title>
        <!--<style>
             
        </style>-->
    </head>
    <body>
        <noscript>
            <h1>SimpleKeys</h1>
            <p lang="pt-BR">
                SimpleKeys é um gerenciador de senhas desenvolvido em JavaScript.
                Por favor, instale ou ative o JavaScript para usar o programa.
            </p>

            <p lang="en">
                SimpleKeys is a password manager coded in JavaScript.
                Please, install or enable JavaScript to run this software.
            </p>
        </noscript>
        <div class="container">
            <header>
                <a><label>Img Configurações button on click redirect</label></a>
                <a><label>Img Ajuda, ambas sem text-decoration nem animações p/ loading</label></a>
            </header>
            <article>
                <h1>SimpleKeys com borda, degradê, Img de fundo</h1>
                licenças de código aberto...
            </article>
            <footer>
                <label><i>Closed Alpha</i> v0.1.0</label>
            </footer>
        </div>
    </body>
    <!--<script> COMUNICAÇÃO IPC COM O RENDERER, PRELOAD E MAIN
    </script>-->
</html>