<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--
        * SimpleKeys
        * index.html
        * 30/07/2022
        -->
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
        <link rel="stylesheet" href="./index.css">
        <title>SimpleKeys</title>
    </head>
    <body>
        <noscript>
            <h1>SimpleKeys</h1>
            <p lang="pt-BR">
                SimpleKeys é um gerenciador de senhas desenvolvido em JavaScript.
                Por favor, instale ou ative o JavaScript para usar o programa.
            </p>

            <p lang="en">
                SimpleKeys is a password manager coded in JavaScript.
                Please, install or enable JavaScript to run this software.
            </p>
        </noscript>
        <div class="container">
            <header>
                <button><img src="./icons/settings.png" alt="Img Configurações"></button>
                <button><img src="./icons/help.png" alt="Img Ajuda"></button>
            </header>
            <article>
                <div class="menu"><h1><i>SimpleKeys</i>&ensp;&ensp;&ensp;<img src="./icons/icons8-lock-96.png" height="68px" width="68px" alt="Img Cadeado" id="cadeado"></h1></div>
                <button class="menu" id="btnNovo"><label>Criar um novo arquivo</label></button>
                <button class="menu" id="btnOutro"><label>Abrir um arquivo já existente</label></button>
            </article>
            <footer>
                <label id="footer"><i>Closed Alpha</i> v0.1.0</label>
            </footer>
        </div>
    </body>
    <!--<script> COMUNICAÇÃO IPC COM O RENDERER, PRELOAD E MAIN
        const { ipcRenderer } = require('electron');

        document.querySelector('form').addEventListener('submit', (event) => {
            event.preventDefault();
            
            ipcRenderer.send('opcao:criar', path?);
        });
    </script>-->
</html>