/*
* SimpleKeys
* listaEntradas.css
* 02/09/2022
*/

.listaEntradas-container {
  width: 1280px;
  height: 720px;
  display: flex;
  opacity: 1;
  position: relative;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(80, 150, 250) 100.00%);
}
.listaEntradas-text {
  top: var(--dl-space-space-halfunit);
  left: var(--dl-space-space-twounits);
  color: var(--dl-color-gray-black);
  margin: auto;
  position: absolute;
  font-style: italic;
  text-decoration: underline;
}
.listaEntradas-text1 {
  left: var(--dl-space-space-twounits);
  bottom: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
}
.listaEntradas-text2 {
  color: #000000;
  right: var(--dl-space-space-twounits);
  bottom: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 28px;
}
.listaEntradas-container1 {
  flex: 0 0 auto;
  left: 64px;
  width: 23%;
  bottom: 80px;
  height: 75%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
}
.listaEntradas-container2 {
  top: 13.9%;
  flex: 0 0 auto;
  left: 28.5%;
  width: 66%;
  height: 5.1%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
  background-color: #fdfdfd;
}
.listaEntradas-container3 {
  flex: 0 0 auto;
  left: 28.5%;
  width: 66%;
  bottom: 80px;
  height: 70%;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #e6e6e6;
}
.listaEntradas-icon {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-image {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  object-fit: cover;
  cursor: pointer;
}
.listaEntradas-icon02 {
  top: 30px;
  right: var(--dl-space-space-fourunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.listaEntradas-icon04 {
  top: 30px;
  right: var(--dl-space-space-unit);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.listaEntradas-icon06 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon08 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon10 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon12 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon14 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon16 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon18 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon20 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon25 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon27 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
.listaEntradas-icon29 {
  width: 48px;
  height: 48px;
  align-self: flex-start;
  cursor: pointer;
}
