/*
* SimpleKeys
* listarEntradas.css
* 02/set/2022
*/

:root {
  --id: 60px;
  --nomeDescSiteLogin: 130px;
  --senha: 155px;
  --senhaInp: 115px;
  --expiraAcoes: 70px;
  --vb: 20px;
}
body {
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(80, 150, 250) 100.00%);
  -webkit-user-select: text; user-select: text;
}
.listarEntradas-container {
  height: 720px;
  display: flex;
  opacity: 1;
  position: relative;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.listarEntradas-text {
  top: var(--dl-space-space-halfunit);
  left: var(--dl-space-space-twounits);
  color: var(--dl-color-gray-black);
  margin: auto;
  position: absolute;
  font-style: italic;
  text-decoration: underline;
}
.listarEntradas-text1 {
  left: 69px;
  bottom: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
}
.listarEntradas-text2 {
  color: #000000;
  right: var(--dl-space-space-twounits);
  bottom: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 28px;
}
#imgInfo {
  width: 36px;
  height: 36px;
  left: var(--dl-space-space-sixunits);
  bottom: -12px;
  position: absolute;
  display: none;
}
.listarEntradas-container1 {
  flex: 0 auto;
  left: 56px;
  width: 17.4%;
  bottom: 80px;
  height: 73.9%;
  display: flex;
  text-align: center;
  padding-top: 2.5%;
  padding-left: 2.5%;
  position: absolute;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
}
.listarEntradas-container2 {
  top: 15%;
  flex: 0 0 auto;
  left: 22.5%;
  width: 72.1%;
  height: 5.1%;
  position: absolute;
  align-items: center;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfdfd;
}
#textosTH {
  top: 15.5%;
  left: 22%;
  position: absolute;
}
#textosTH th:nth-child(1){ padding-left: 15px; min-width: var(--id); max-width: var(--id); }
#textosTH th:nth-child(2){ padding-left: 15px; min-width: var(--nomeDescSiteLogin); max-width: var(--nomeDescSiteLogin); }
#textosTH th:nth-child(3){ padding-left: 15px; min-width: var(--nomeDescSiteLogin); max-width: var(--nomeDescSiteLogin); }
#textosTH th:nth-child(4){ padding-left: 15px; min-width: var(--nomeDescSiteLogin); max-width: var(--nomeDescSiteLogin); }
#textosTH th:nth-child(5){ padding-left: 15px; min-width: var(--nomeDescSiteLogin); max-width: var(--nomeDescSiteLogin); }
#textosTH th:nth-child(6){ padding-left: 25px; min-width: var(--senha); max-width: var(--senha); }
#textosTH th:nth-child(7){ padding-left: 60px; min-width: var(--expiraAcoes); max-width: var(--expiraAcoes); }
#textosTH th:nth-child(8){ padding-left: 53px; min-width: var(--vb); max-width: var(--vb); }
#textosTH th:nth-child(9){ padding-left: 10px; min-width: var(--expiraAcoes); max-width: var(--expiraAcoes); padding-right: 15px; }
.listarEntradas-container3 {
  flex: 0 0 auto;
  left: 22.5%;
  width: 72.1%;
  bottom: 80px;
  height: 69%;
  position: absolute;
  align-items: center;
  border-color: #000000;
  border-style: inset;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-color: #e6e6e6;
}
#container3 {
  top: 21%;
  left: 22.5%;
  margin-left: 5px;
  position: absolute;
  width: 69%;
  font-size: 14px;
}
table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
.listarEntradas-checkbox {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.listarEntradas-iconConfig {
  top: 50px;
  left: 1110px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.listarEntradas-iconSobre {
  top: 50px;
  left: 1158px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon svg {
  width: 45px;
  height: 45px;
  top: 45px;
  left: 65px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon2 svg {
  width: 54px;
  height: 54px;
  top: 45px;
  left: 120px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon3 svg {
  width: 50px;
  height: 50px;
  top: 44px;
  left: 180px;
  position: absolute;
  cursor: pointer;
}
#barra1 {
  font-size: 42px;
  top: 47px;
  left: 235px;
  position: absolute;
}
.listarEntradas-icon4 svg {
  width: 50px;
  height: 50px;
  top: 45px;
  left: 253px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon5 svg {
  width: 48px;
  height: 48px;
  top: 44px;
  left: 305px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon10 svg {
  width: 54px;
  height: 54px;
  top: 45px;
  left: 350px;
  position: absolute;
  cursor: pointer;
}
#barraPesqInp {
  font-size: 42px;
  top: 47px;
  left: 400px;
  position: absolute;
}
#pesqInp {
  width: 290px;
  top: 63px;
  left: 420px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
}
.listarEntradas-icon6 svg {
  width: 44px;
  height: 44px;
  top: 49px;
  left: 720px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon7 svg {
  width: 44px;
  height: 42px;
  top: 51px;
  left: 776px;
  position: absolute;
  cursor: pointer;
}
#barra2 {
  font-size: 42px;
  top: 47px;
  left: 830px;
  position: absolute;
}
.listarEntradas-icon8 svg {
  width: 52px;
  height: 52px;
  top: 48px;
  left: 855px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon9 svg {
  width: 42px;
  height: 40px;
  top: 53px;
  left: 915px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon11 svg {
  width: 44px;
  height: 44px;
  top: 50px;
  left: 967px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-image {
  width: 38px;
  height: 52px;
  top: 43px;
  left: 1020px;
  position: absolute;
  cursor: pointer;
}
.listarEntradas-icon12 svg {
  width: 52px;
  height: 52px;
  top: 49px;
  left: 1058px;
  position: absolute;
  cursor: pointer;
}