<!DOCTYPE html>
<html lang="pt-BR">
  <head>
  <!--
        * SimpleKeys
        * novaEntrada.html
        * 29/ago/2022
	-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        
      }
    </style>
    <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="48x48" href="./public/favicon/favicon-48x48.png">
    <link rel="stylesheet" href="./font.css" data-tag="font" />
    <link rel="stylesheet" href="./style.css" />
    <title>SimpleKeys - Nova Entrada</title>
    <script src="../App/tools/zxcvbn.js"></script>
    <script src="../App/middleman.js"></script>
    <script src="../App/cadastrar.js"></script>
  </head>
  <body>
    <div>
      <link href="./novaEntrada.css" rel="stylesheet" />
      <noscript>
        <h1>SimpleKeys</h1>
        <p lang="pt-BR">
          SimpleKeys é um gerenciador de senhas desenvolvido em JavaScript.
          Por favor, instale ou ative o JavaScript para usar o programa.
        </p>
  
        <p lang="en">
          SimpleKeys is a password manager coded in JavaScript.
          Please, install or enable JavaScript to run this software.
        </p>
      </noscript>
      <article class="nova-entrada-container">
        <div class="nova-entrada-desktop">
          <span class="nova-entrada-text">SimpleKeys</span>
          <span class="nova-entrada-text09">v 0.2.0</span>
            <div class="nova-entrada-container1">
              <div class="nova-entrada-container2">
              <span class="nova-entrada-text04">
                  <span>iframe carousel com infos importantes,</span>
                  <br />
                  <span>imagens, etc.</span>
                  <br />
              </span>
              </div>
              <svg viewBox="0 0 1024 1024" class="nova-entrada-icon" title="Configurações" onclick="ipc.send('opcao:config');">
                  <path
                      d="M512 662q62 0 106-44t44-106-44-106-106-44-106 44-44 106 44 106 106 44zM830 554l90 70q14 10 4 28l-86 148q-8 14-26 8l-106-42q-42 30-72 42l-16 112q-4 18-20 18h-172q-16 0-20-18l-16-112q-38-16-72-42l-106 42q-18 6-26-8l-86-148q-10-18 4-28l90-70q-2-14-2-42t2-42l-90-70q-14-10-4-28l86-148q8-14 26-8l106 42q42-30 72-42l16-112q4-18 20-18h172q16 0 20 18l16 112q38 16 72 42l106-42q18-6 26 8l86 148q10 18-4 28l-90 70q2 14 2 42t-2 42z"
                  ></path>
              </svg>
              <svg viewBox="0 0 1024 1024" class="nova-entrada-icon2" title="Ajuda" onclick="ipc.send('opcao:sobre');">
                  <path
                      d="M512 256q70 0 120 50t50 120q0 54-64 111t-64 103h-84q0-46 20-79t44-48 44-37 20-50q0-34-26-59t-60-25-60 25-26 59h-84q0-70 50-120t120-50zM512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM470 768v-86h84v86h-84z"
                  ></path>
              </svg>
              <form>
                <span class="nova-entrada-text10">Nova entrada...</span>
                <span class="nova-entrada-text11">Nome:</span>
                <input
                    type="text"
                    placeholder="Escreva aqui o nome da entrada! Ex: 'E-mail Kauã'"
                    id="inputNomeEnt"
                    class="nova-entrada-textinput input"
                    required
                />
                <span class="nova-entrada-text12">
                    <span>Descrição:</span>
                    <br />
                </span>
                <input
                    type="text"
                    placeholder="Descrição da entrada, anotações..."
                    id="inputDescEnt"
                    class="nova-entrada-textinput1 input"
                />
                <span class="nova-entrada-text15">
                    <span>Site:</span>
                    <br />
                </span>
                <input
                    type="text"
                    placeholder="De qual site é esse login?"
                    id="inpSite"
                    class="nova-entrada-textinput2 input"
                />
                <span class="nova-entrada-text18">
                    <span>Login:</span>
                    <br />
                </span>
                <input
                    type="text"
                    placeholder="Escreva aqui o usuário/login! Ex: 'kaua.maia177@gmail.com'"
                    id="inputLoginEnt"
                    class="nova-entrada-textinput3 input"
                    required
                />
                <span class="nova-entrada-text23">
                    <span>Senha:</span>
                    <br />
                </span>
                <input
                    id="inpPassword"
                    type="password"
                    placeholder="Qual é a sua senha?"
                    autocomplete="off"
                    required
                    class="nova-entrada-textinput4 input"
                />
                <i id="eye"><img src="./public/playground_assets/closedEyelid.png" width="26px" height="26px" /></i>
                <i id="eyeShown"><img src="./public/playground_assets/openEyelid.png" width="26px" height="26px" /></i>
                <div id="password-strength" title="Esse é o marcador de segurança desta senha.">
                  <span></span>
                </div>
                <span class="nova-entrada-text24">
                  <span>Repita a senha:</span>
                  <br />
                </span>
                <input
                    id="inpTestPassword"
                    type="password"
                    placeholder="Repita a senha por segurança"
                    autocomplete="off"
                    required
                    class="nova-entrada-textinput4 input"
                />
                <i id="eye1"><img src="./public/playground_assets/closedEyelid.png" width="26px" height="26px" /></i>
                <i id="eye1Shown"><img src="./public/playground_assets/openEyelid.png" width="26px" height="26px" /></i>
                <div class="password-feedback">
                  <span>
                    <svg viewBox="0 0 1024 1024" id="feedback" class="component-icon">
                      <path
                        d="M512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
                      ></path>
                    </svg>
                    <svg viewBox="0 0 1024 1024" id="feedbackPass" class="component1-icon">
                      <path
                        d="M896 472.747v39.253c-0.043 106.027-43.051 201.941-112.64 271.445s-165.547 112.384-271.573 112.299-201.984-43.051-271.445-112.64-112.384-165.504-112.341-271.573 43.051-201.941 112.64-271.445 165.547-112.384 271.573-112.341c56.747 0.043 110.336 12.331 155.691 33.067 21.419 9.813 46.763 0.341 56.533-21.077s0.341-46.763-21.077-56.533c-56.619-25.856-122.283-40.747-191.104-40.789-129.579-0.085-246.997 52.437-331.947 137.259s-137.557 202.24-137.643 331.819 52.437 246.997 137.259 331.947 202.197 137.6 331.776 137.643 246.997-52.437 331.947-137.259 137.6-202.197 137.685-331.819v-39.253c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667zM908.501 140.501l-396.501 396.885-97.835-97.792c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331l128 128c16.683 16.683 43.691 16.64 60.373 0l426.667-427.093c16.64-16.683 16.64-43.691-0.043-60.331s-43.691-16.64-60.331 0.043z"
                      ></path>
                    </svg>
                  </span>
                </div>
                <span class="nova-entrada-text25">
                    <span>Expira? (S ou N, meses)</span>
                    <br />
                </span>
                <div class="nova-entrada-slider">
                    <input id="expira" title="6 meses" type="range" min="0" max="36" value="6" oninput="(this.value > 0) ? (expira.title = this.value + ' meses') : expira.title = 'Desligado.'" />
                </div>
                <button type="button" class="nova-entrada-button button" onclick="(((document.getElementById('inputNomeEnt').value && document.getElementById('inputLoginEnt').value && document.getElementById('inpPassword').value != ('' || null || undefined || [])) == true)) ? cadastrar() : ipc.send('mensagem:paridade:erro');">
                <span class="nova-entrada-text01">
                    <span>Criar</span>
                    <br />
                </span>
                </button>
                <button type="button" class="nova-entrada-button2 button" onclick="window.history.back();">
                <span class="nova-entrada-text01">
                    <span>Voltar</span>
                    <br />
                </span>
                </button>
              </form>
            </div>
        </div>
      </article>
    </div>
    <script src="../App/tools/strength.js"></script>
  </body>
</html>
