/*
* SimpleKeys
* novoArquivo.css
* 26/ago/2022
*/

body {
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(80, 150, 250) 100.00%);
  -webkit-user-select: text; user-select: text;
}
.novo-arquivo-container {
  width: 100%;
  height: 720px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  justify-content: center;
}
.novo-arquivo-desktop {
  width: 100%;
  height: 720px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  justify-content: flex-start;
}
.novo-arquivo-text {
  top: var(--dl-space-space-halfunit);
  left: var(--dl-space-space-twounits);
  color: var(--dl-color-gray-black);
  margin: auto;
  position: absolute;
  font-style: italic;
  text-decoration: underline;
}
.novo-arquivo-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.novo-arquivo-button {
  top: 630px;
  left: 315px;
  color: #ffffff;
  width: 335px;
  height: 40px;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  cursor: pointer;
}
.novo-arquivo-button1 a {
  text-decoration: none;
}
.novo-arquivo-button:hover {
  background-color: lightgrey;
  color: black;
}
.novo-arquivo-button2 {
  top: 630px;
  left: 655px;
  color: #ffffff;
  width: 335px;
  height: 40px;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  cursor: pointer;
}
.novo-arquivo-button2:hover {
  background-color: lightgrey;
  color: black;
}
.novo-arquivo-text01 {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.novo-arquivo-container2 {
  top: -16px;
  flex: 0 0 auto;
  left: 720px;
  width: 490px;
  border: 2px solid black;
  bottom: 0px;
  height: 430px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: #000000;
  border-style: inset;
  border-width: 2px;
  justify-content: center;
}
.novo-arquivo-text04 {
  text-align: center;
}
.novo-arquivo-icon {
  top: 50px;
  right: 117px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.novo-arquivo-icon2 {
  top: 50px;
  right: 69px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
  cursor: pointer;
}
.novo-arquivo-text09 {
  color: #000000;
  right: var(--dl-space-space-twounits);
  bottom: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 28px;
}
.novo-arquivo-text10 {
  top: var(--dl-space-space-fourunits);
  left: var(--dl-space-space-sixunits);
  position: absolute;
  font-size: 32px;
}
.novo-arquivo-text11 {
  top: 137px;
  left: 120px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 26px;
}
.novo-arquivo-textinput {
  top: 138px;
  left: 232px;
  width: 460px;
  position: absolute;
  align-self: center;
}
.novo-arquivo-text12 {
  top: 207px;
  left: 120px;
  position: absolute;
  font-size: 26px;
}
.novo-arquivo-textinput1 {
  top: 186px;
  left: 282px;
  width: 410px;
  height: 72px;
  position: absolute;
  align-self: center;
}
.novo-arquivo-text15 {
  top: 275px;
  left: 120px;
  position: absolute;
  font-size: 26px;
}
.novo-arquivo-button1 {
  top: 275px;
  left: 566px;
  color: var(--dl-color-gray-black);
  width: 126px;
  height: 32px;
  position: absolute;
  text-align: center;
  background-color: lightgrey;
  cursor: pointer;
}
.novo-arquivo-text18 {
  top: 317px;
  left: 120px;
  position: absolute;
  font-size: 26px;
}
.novo-arquivo-slider {
  top: 332px;
  left: 566px;
  height: 32px;
  position: absolute;
}
#expira {
  width: 126px;
}
.novo-arquivo-text23 {
  top: 387px;
  left: 120px;
  position: absolute;
  font-size: 26px;
  transition: 0.3s;
  text-decoration: underline;
}
.novo-arquivo-checkbox {
  top: 385px;
  left: 610px;
  width: 126px;
  height: 32px;
  position: absolute;
  cursor: pointer;
}
.novo-arquivo-text24 {
  top: 447px;
  left: 120px;
  position: absolute;
  font-size: 26px;
  transition: 0.3s;
  text-decoration: underline;
}
.novo-arquivo-text25 {
  top: 512px;
  left: 120px;
  position: absolute;
  font-size: 26px;
  transition: 0.3s;
}
#password span {
  display: block;
}
#password-strength {
  top: 492px;
  left: 325px;
  width: 300px;
  position: absolute;
  display: block;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
#password-strength span {
  display: block;
  height: 7px;
  border-radius: 2px;
  transition: all 500ms ease;
}
.strength-0 span {
  background-color: red;
  width: 5%;
}
.strength-1 span {
  background-color: orangered;
  width: 25%;
}
.strength-2 span {
  background-color: orange;
  width: 50%;
}
.strength-3 span {
  background-color: yellowgreen;
  width: 75%;
}
.strength-4 span {
  background-color: green;
  width: 100%;
}
.novo-arquivo-textinput2 {
  top: 447px;
  left: 325px;
  width: 300px;
  position: absolute;
}
.novo-arquivo-textinput3 {
  top: 510px;
  left: 325px;
  width: 300px;
  position: absolute;
}
#eye {
  top: 452px;
  left: 585px;
  position: absolute;
  cursor: pointer;
  display: block;
}
#eyeShown {
  top: 452px;
  left: 585px;
  position: absolute;
  cursor: pointer;
  display: none;
}
#eye1 {
  top: 515px;
  left: 585px;
  position: absolute;
  cursor: pointer;
}
#eye1Shown {
  top: 515px;
  left: 585px;
  position: absolute;
  cursor: pointer;
  display: none;
}
.component-icon {
  top: 470px;
  left: 645px;
  position: absolute;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component1-icon {
  top: 470px;
  left: 645px;
  position: absolute;
  display: none;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
